.Rproj.user
.Rhistory
.RData
.Ruserdata
MATH167R.Rproj
checkin/
data/Assessor__Archived_05-11-2022__-_First_Pass_Values_20240306.csv
data/Assessor__Archived_05-11-2022__-_Residential_Sales_Data_20240228.csv
data/NBA_Player_Stats_2.csv
data/cars.csv
data/clean_2000_2018.csv
labs/